.toptitle {
	background-color: lightsteelblue;
}

.top {
	background-color: Cream yellow;
}

header {
	background-color: lightsteelblue;
	/* 	color:white; */
	/*   padding: 20px 0; */
}

/* 		html, body { */
/* 			height: 100%; */
/* 		} */
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 80vh;
}

.content {
	flex: 1;
}

.sidebar {
	/* 			height: 100%; */
	/* 			background-color: #6495ED; */
	background-color: navy;
	/*  			padding: 0; */
}

.sidebar .nav-sidebar {
	padding: 0;
}

.sidebar .nav-sidebar li {
	width: 100%;
}

.sidebar .nav-sidebar li a {
	color: #ffffff;
	display: block;
	padding: 10px 15px;
	text-decoration: none;
}

.sidebar .nav-sidebar li a:hover {
	background-color: #0000ff;
	color: #ffffff;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar .nav-sidebar .active a {
	background-color: #007bff;
	color: #ffffff;
}
/* 		footer { */
/* 			background-color: #f8f9fa; */
/* 			padding: 10px 0; */
/* 			text-align: center; */
/* 		} */
footer {
	background-color: #e6f2ff;
	/* 		background-color: #FFFFF0; */
	height: 60px;
	padding: 10px 0;
	margin: 0;
	text-align: center;
	/*  	position: fixed; */
	width: 100%;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.zen-maru-gothic-regular {
  font-family: "Zen Maru Gothic", serif;
  font-weight: 400;
  font-style: normal;
}